#mainFrame {
  width:98%;
  display: flex;
  justify-content: space-between;
}
#mainRightFrame {
  width: 25%;
}
#mainLeftFrame {
  width: 200px;
}
#mainMiddleFrame {
  width: 59%;
}
#screenshotFrame {
}
.screenshot-div {
  display: inline;
}
