#mainFrame {
  width:98%;
  display: flex;
  justify-content: space-between;
}
#mainRightFrame {
  width: 25%;
}
#mainLeftFrame {
  width: 200px;
}
#mainMiddleFrame {
  width: 59%;
}
#screenshotFrame {
  display:flow-root;
}
.screenshot-div {
  display: inline;
}
.round-div{
  border-radius: 1rem;
  border:gray solid 1px;
}
